div.rg_time1 {
	display: none !important;
}

div.rg_time2 {
	display: none !important;
}

div.rg_time3 {
display: none !important;
}

div.rg_time4 {
	display: none !important;
}

div.rg_time5 {
	display: none !important;
}

div.rg_time6 {
	display: none !important;
}